<!DOCTYPE html>
<html lang="en">
<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/bootstrap/style.css">
    
    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="../../../static/chatroom.css"/>

    <script src="{{url_for('static', filename='chatroom_checkpoint.js')}}"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat [{{room_id}}]</title>
</head>
<body>

    <div class="easing_gradient heading mb-4">
        <img width="18%" height="18%" src="../../../static/smarted_w_text.png"></img>   
        <h5><font face="Raleway" color="black">Joining room: </font><span class="heading-mark">{{room_id}}</span></h5>
    </div>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mb-5">
                <font face="Raleway">
                <h4>What should others see you as?</h4>
                <p>
                    Enter a Name that your friends will be able to recognize you with <br>
                    This name will be displayed to others!
                </p>
            </font>
                <!-- Maybe we could change this to the students name?-->
                <form method="POST" onsubmit="return validate()" class="form shadow" style="max-width:400px; margin-left: auto; margin-right: auto;">
                    <div class="input-group mb-3">
                        <input type="text" name="display_name" id="display_name" class="form-control" placeholder="Display Name" autofocus required>
                        <div class="input-group-append">
                            <button type="submit" class="form-control btn-primary rounded submit px-3"><font face="Raleway">Join</font></button>                  
                        </div>
                    </div>
                    <input type="hidden" value="0" name="mute_audio" id="mute_audio_inp">
                    <input type="hidden" value="0" name="mute_video" id="mute_video_inp">
                </form>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div id="permission_alert" class="alert alert-danger" role="alert" style="display: none; background-color: rgb(255, 130, 130); color: rgb(153, 32, 32);">
                    <strong>Please allow camera and mic permissions!</strong> 
                </div>                
                <div class="shadow p-0">
                    <div class="vid-wrapper" style="width: 100%; background-color: rgb(20,20,20);">
                        <video id="local_vid" autoplay muted style="max-height: 400px; max-width: 100%;"></video>
                    </div>
                    <div class="p-3 w-100 bg-light" >
                        <button id="bttn_mute" class="btn btn-lg btn-outline-secondary rounded-circle mx-3">
                            <span id="mute_icon" class="material-icons pt-2">
                                mic
                            </span>
                        </button>
                        <button id="bttn_vid_mute"class="btn btn-lg btn-outline-secondary rounded-circle mx-3">
                            <span id="vid_mute_icon" class="material-icons pt-2">
                                videocam
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>