{% extends "basic.html" %}
{% block my_header %}
<head>
    <title>{{specified_course.replace("-", "")}} - SmartEd</title>
    <link rel="stylesheet" href="../static/pages_css/specific_course_student.css">
    <link href="../static/default.css" rel="stylesheet" />
    <link href="../static/dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="icon" href="../static/pages_img/logo.png">
    <script src="../static/course.js"></script>
</head>
{% endblock %}
{% block my_body %}
<body>

    <script>
        function showModal() {
            $('#newResource').modal('show')
        }

        function validate_time(caller) {
            var caller_object = document.getElementById(caller);
            var regex_check_pass = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(caller_object.value);

            if (!regex_check_pass && caller_object.value != "") {
                caller_object.value = "INVALID";
            }
        }

    </script>

    <script> console.log("{{course}}")</script>
    <main class="main">
        <!-- HOME PAGE -->
        <section class="home" id=home>
            <div class="content1">
                <h4 class="course-id"><font style="padding-top:2px;" size="5px">{{ specified_course.replace("-","") }}</font></h4>
                <ul class="settings-menu">
                                <li><a href="#anchorpoint_announcement" class="settings-btn">Announcements</a></li>
                    <li><a href="#anchorpoint_course_staff" class="settings-btn">Course Staff</a></li>
                    <li><a href="#anchorpoint_resources" class="settings-btn">Learning Resources</a></li>
                    <li><a href="#anchorpoint_assessments" class="settings-btn">Assessments</a></li>
                    <li><a href="#anchorpoint_grades" class="settings-btn">My Grades</a></li>
                    <li><a href="#overview_anchor" class="settings-btn">Course Overview</a></li>
                    <li><a href="{{ url_for('QRC')}}?course={{specified_course}}" class="settings-btn">QR Code Sign on</a></li>
                    <li><a href="{{ url_for('video_index')}}" class="settings-btn">Video Room</a></li>
                    <li><a href="#settings_anchor" class="settings-btn">Settings</a></li>
                </ul>
            </div>
            <div class="content2">
                <a id="anchorpoint_announcement" style="display:block; margin-top:-50px;"></a>
                <div class="announcements">
                    <h5>Announcements</h5>
                    
                    
                        <div style="padding: 20px; padding-left:10px;" class=content_container id="course-id">
                            {% if user.get_type() == types.LECTURER %}
                            <form method="POST">
                                {{ form.csrf_token }}
                                <div class="input-group">
                                    <input name="new_announcement_desc" type="text" style="margin-left:50px;" class="form-control" id="exampleInputEmail1" placeholder="New Announcement">
                                    <button type="submit" style="margin-right:150px;" class="btn btn-dark">Create Announcement</button>
                                </div>
                            </form>
                            {% endif %}

                            {% for announcement in course.get_announcements() %}
                            <div style="padding-top:10px" class="staff">
                                <div class="info">
                                    <p>Posted by: {{course.get_admin().get_name()}}</p>
                                    <p>At time: {{announcement.get_timestamp()}}</p>
                                </div>
                                
                                <p >
                                    {{announcement.get_description()}}
                               
                                </p> 
                            </div>
                            {% endfor %}
                    </div>
                    

                </div>
                
                <a id="anchorpoint_course_staff" class="anchor"></a>
                <div class="course-student">
                    <h5>Course Staff</h5>
                    <div style="padding-top:15px" class=content_container id="course-id">
                        <div class="staff">
                            <div class="info">
                                <h4 class="staff_name">{{course.get_admin().get_name()}}</h5>
                                <p>Course Coordinator</p>
                            </div>
                        </div>

                        {% for tutor in course.get_tutors() %}
                        <div class="staff">
                            <div class="info">
                                <h4 class="staff_name">{{tutor.get_name()}}</h5>
                                <p>Tutor</p>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

                <a id="anchorpoint_resources" class="anchor"></a>

                <!--  event = my_course.make_event(event_query['position'],
                    event_query['type'X], \
                    event_query['name'X],
                    event_query['start_date'X],
                    event_query['end_date'X],
                    (30 if event_query['marked'] else 0), style="float:right;margin-right:60px;"
                    deadline=deadline) -->
                    <h5>Learning Resources 
                        {% if user.get_type() == types.LECTURER %}
                        <button type="button" style="float:right;margin-right:60px;" class="btn btn-dark" 
                                data-toggle="modal" onclick="showModal()">Create new Resource
                            </button>
                        {% endif %}
                    </h5>
                    
                    <div id="newResource" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div style="padding:20px;" class="modal-content">
                            <form method="POST">

                                <h3>Create a new {{course.get_name().replace("-","")}} Resource</h3>

                                <label for="exampleInputEmail1">What kind of event are you creating?</label>

                                <select id="course_selection" style="margin-top:15px;margin-bottom:15px" class="form-select" aria-label="Default select example">
                                    <option style="background-color: #DFDFDF" id="event_type" selected>Event Type</option>
                                    <option value="0">Lecture</option>
                                    <option value="1">Tutorial</option>
                                    <option value="2">Practical</option>
                                    <option value="3">Assignment</option>
                                    <option value="4">Project</option>
                                    <option value="5">Examination</option>
                                    <option value="6">Consultation</option>
                                    <option value="7">Guest</option>
                                    <option value="7">Default</option>
                                </select>

                                <label for="exampleInputEmail1">What would you like to name this event?</label>

                                <input style="margin-bottom:10px;" name="resource_name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                                <div style="margin-bottom:10px;">
                                    <label for="exampleInputEmail1">When is the date of this event?</label>
                                </div>

                                <input style="margin-bottom:10px;" name="resource_date" type="text" class="form-control" id="exampleInputEmail1" placeholder="Date of Event">
                                

                                <div style="margin-bottom:10px;">
                                    <label for="exampleInputEmail1">When does this event start and end?</label>
                                </div>
                                <div style="margin-top:10px;margin-bottom:10px;" class="input-group">
                                    <input id="resource_start_time" onfocusout="validate_time('start')" style="margin-right: 40px;" type="text" class="form-control" placeholder="Start"/>
                                    <span class="input-group-addon">to</span>
                                    <input id="resource_end_time" onfocusout="validate_time('end')" style="margin-left: 40px;" type="text" class="form-control" placeholder="End"/>
                                </div>


                                <div style="margin-bottom:10px;">
                                    <label for="exampleInputEmail1">Select the resource to upload for this event</label>
                                </div>
                                <div style="margin-bottom:10px;">
                                <input name="resource_file" type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>

                                <button type="submit" style="margin-right:150px;" class="btn btn-dark">Create Resource</button>


                            </form>
                          </div>
                        </div>
                      </div>

                      
                <div class="resources">
                    <div class=content_container id="course-id">

                        {% for event in course.get_events() %}
                        {% if event.get_weighting() == 0 %}

                        
                        <div class="content_entry">
                            <a href="#" class="settings-btn"><i class="fa fa-folder-open"></i>{{event.get_name()}}</a>
                            <p class="resources_content">
                                {{event.get_description()}}
                            </p>
                        </div>
                        <hr class="resources_line">

                        {% endif %}
                        {% endfor %}


                </div>
                </div>
                <a id="anchorpoint_assessments" class="anchor"></a>



                <div class="assessments">
                    <h5>Assessment</h5>
                    <div class=content_container id="course-id">

                        {% for event in course.get_events() %}
                            
                        {% if event.get_weighting() > 0 %}

                        <div class="content_entry">
                            <a href="#" class="settings-btn"><i class="fa fa-folder-open"></i> {{event.get_name()}}</a>
                        </div>
                        <hr class="resources_line">

                        {% endif %} 
                        {% endfor %}


                    </div>
                </div>





                <a id="anchorpoint_grades" class="anchor"></a>
                <div class="grades">
                    <h5>My Grades</h5>
                    <div class=content_container id="course-id">
                        <div class="tabs">
                            <div class="tab_item">
                                GRADED ITEMS
                            </div>
                            <div class="tabs_second">
                                <div style="margin-right:70px;" class="tab_last_activity">
                                    DUE
                                </div>
                                <div class="tab_grade">
                                    GRADE
                                </div>
                            </div>
                        </div>
                        <div class="grades">

                            {% for engagement in user.get_specific_engagement(course) %}
                            
                            {% if engagement.is_marked() %}
                            
                            <div class="content_entry">
                                <div class=item_entry>
                                    <a href="#" class="settings-btn"><i class="fa fa-calendar-check"></i> {{engagement.get_name()}}</a>
                                </div>
                                <div class="info_entries">
                                    <div class="activity_entry">
                                        <!--11/09/2021 11:35 AM
                                        GRADED-->
                                        {{engagement.get_deadline()}}
                                    </div>
                                    <div class="grade_entry">
                                        {{engagement.get_achieved()}}
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% endfor %}    
                        

                        </div>

                    </div>
                </div>
                

                <a id="overview_anchor" class="anchor"></a>
                <div class="stats">
                    <div class="grade">
                        <h5 style="margin-left:20%;margin-right:0px;" class="overview_title_font">Current Grade</h5>
                        <div class="current_grade">
                            <h5>7</h5>
                            <p>+ 26%</p>
                            <p2>(from last assessment)</p2>
                        </div>
                    </div>
                    <div class="rank">
                        <h5 style="margin-left:40%;margin-right:0px;" class="overview_title_font">Rank</h5>
                        <div class="current_grade">
                            <h5>7</h5>
                            <p>+ 26%</p>
                            <p2>(from last assessment)</p2>
                        </div>
                    </div>
                    <div class="rank">
                        <h5 style="margin-left:41px;margin-right:0px;" class="overview_title_font">Satisfaction</h5>
                            <font size="13px" style="margin-left:45px" color="white">80%</font>
                    </div>
                    
                    <div class="you">
                        <h4>For You</h4>
                        <div class="for_you">
                            <div class=content_container_statistics id="course-id">
                                <div class="content_entry_stats">
                                    <a href="#" class="settings-btn"><i class="fa fa-exclamation" id="exclamation"></i> Lectures</a>
                                    <div class="content_for_you">
                                        <p>You currently have [1] unwatched lecture recording. If you have attended the lecture, make sure to view it to check off your attendance!</p> 
                                    </div>
                                    
                                </div>
                                <hr class="resources_line">
                                <div class="content_entry_stats">
                                    <a href="#" class="settings-btn"><i class="fa fa-exclamation" id="exclamation"></i> Tutorials</a>
                                    <div class="content_for_you">
                                        <p>Your tutorial attendance is inconsistent. Try to make the effort to attend tutorials as they are vital in your learning! You did not attend [Week 6, Week 7] tutorials so make sure to catch up and stay up to date!</p>
                                    </div>
                                </div>
                                <hr class="resources_line">
                                <div class="content_entry_stats">
                                    <a href="#" class="settings-btn"><i class="fa fa-exclamation" id="exclamation"></i> Overall Course Satisfaction</a>
                                    <div class="content_for_you">
                                       <p>So far you have indicated that you are enjoying the course content from your survey. Make sure to send some appreciative feedback to your course staff!</p> 
                                    </div>
                                </div>
                                <hr class="resources_line">
                                <div class="content_entry_stats">
                                    <a href="#" class="settings-btn"><i class="fa fa-exclamation" id="exclamation"></i> New Ed Discussion Posts</a>
                                    <div class="content_for_you">
                                        <p>There has been [4] new Ed Discussion posts in the past 24hrs. Check them out and stay up to date with the latest discussion!</p>    
                                    </div>
                                </div>
                                <hr class="resources_line">
                                <div class="content_entry_stats">
                                    <a href="#" class="settings-btn"><i class="fa fa-exclamation" id="exclamation"></i> New Ed Discussion Comments</a>
                                    <div class="content_for_you">
                                        <p> There has been [13] new comments on Ed Dicussion posts in the past 24hrs. Check them out and stay up to date with the latest discussion!</p>    
                                    </div>
                                </div>
                                <hr class="resources_line">
                            </div>
                        </div>
                    </div>
                    <div class="report">
                        <h4 class="overview_title_others">Key Insight Report</h4>
                        <div class="key_report">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Quiz 3 Result improved!</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Lecture attendance is consistent!</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Tutorial attendance needs improvement.</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Assignement 1 result is above average!</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> </a>
                            </div>
                            <hr class="resources_line">

                        </div>
                    </div>
                    <div class="insights">
                        <h4 class="overview_title_others">Actionable Insights</h4>
                        <div class="actionable_insights">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Go through Week 6 content for Quiz 4!</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Make sure to attend tutorials to not fall behind.</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Check out the library for extra readings on Assignment 2.</a>
                            </div>
                            <hr class="resources_line">
                            <div class="report_entry">
                                <a href="#" class="settings-btn2"> Your understanding with Week 4 content is below average, check out the learning resources for more help.</a>
                            </div>
                            <hr class="resources_line">
                        </div>
                    </div>
                </div>

                <a id="settings_anchor" class="anchor"></a>
                <div class="dark-mode-setting">
                    <h5>Dark Mode Setting</h5>
                    <!-- copy this theme-switch block for every page to enable dark mode -->
                    <div class="theme-switch">
                        <input type="checkbox"> Enable Dark Mode </input>
                    </div>
                    <!-- copy this theme-switch block for every page to enable dark mode -->
                </div>
                <div class="edit-noti" id="edit-noti">
                    <h5>Edit Notification Setting</h5>
                    <div class="checkboxes">
                        <span> Enable/Disable Notifications for selected courses</span>
                        <label class="container">[DECO3801] Design Computing Studio 3- Build (St Lucia & external). Semester 2, 2021
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        </label>
                        <label class="container">[COMP4500] Advanced Algorithms & Data Structures (St Lucia & external). Semester 2, 2021
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        </label>
                        <label class="container">[COMP3702] Artificial Intelligence (St Lucia & external). Semester 2, 2021
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        </label>
                        <label class="container">[COMP4702] Machine Learning (St Lucia & external). Semester 2, 2021
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        </label>
                        <button class="button" onClick='document.getElementById("text").style.display="initial";' target="_blank">Save</button>
                        <span style="display:none;" id="text" class="save_btn_text">Your preferences have been saved.</span>
                    </div>
                </div>
                <div class="privacy" >
                    <h5 id="privacy">Privacy and Terms of Use</h5>
                    <p>SmartEd will collect, use, and store your personal information that is necessary to use this application and the related functionalities. SmartEd handles this information on behalf of your institution.
                        The application uses cookies that are required to provide the necessary functionalities to you. To learn more about the use of cookies and how SmartEd uses personal information on behalf of your institution, please read SmartEds Privacy Statement.
                        When you select "Accept & Continue" you are agreeing to SmartEds Terms of Use.</p>
                </div>
                
            </div>
            
            <!-- Add more columns here if needed --> 

            
        </section>
        
    </main>
    


     <!--===== JS =====-->
     <script src="script.js"></script>
    
</body>
{% endblock %}