{% extends "basic.html" %}
{% block my_header %}
<head>
    <title>Home - SmartEd</title>
    <link rel="stylesheet" href="../static/pages_css/home_student.css">
    <link href="../static/default.css" rel="stylesheet" />
    <link href="../static/dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="icon" href="../static/pages_img/logo.png">
    <script src="../static/course.js"></script>
</head>
{% endblock %}
{% block my_body %}

<body>
    <main class="main">
        <!-- HOME PAGE -->
        <section class="home" id=home>
            <div class="content1">
                <h5 class="home_column"> <a href="course_student.html" class="home_column-btn">My Courses </a></h2>
                <div class="course">
                    <div class="sem_header"></p>Semester 2, 2021</div>
                    <div class="courses">
                        {% for course in user.get_enrollments() %}
                        <div style="margin-top:15px;">
                            <font size="5px">
                        <a href="{{ url_for('course')}}?course={{course.get_name()}}">
                            <p style="margin-bottom:15px;">{{course.get_name()}}</p>
                        </a>
                        </font>
                        </div>
                        <hr class="line">
                        {% endfor %}
                    </div>
                </div>
            </div>   


            <div class="content2">
                <div class="notice">
                    <h5 class="home_column"> <a class="home_column-btn">Upcoming Deadlines</a></h5>

                    {% for course in user.get_enrollments() %}
                    {% for engagement in user.get_specific_engagement(course) %}
                    {% if engagement.is_marked() %}

                    
                    <center>
                        <font size="3px"><p>{{engagement.get_name()}} for <b>{{course.get_name().replace("-","")}}</b> - {{engagement.get_deadline()}}</p></font>
                    </center>
                    
                    <hr style="margin-top:10px;" class="line">
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>



            <div class="content3">
                <div class="announcements">
                    <h5 class="home_column"> <a href="../student/announcement_student.html" class="home_column-btn">Announcements</h5>

                    <!-- Get all courses that user is in -->
                    {% for course in user.get_enrollments() %}
                    <!-- Get all announcements for that course-->
                    {% for announcement in course.get_announcements() %}
                    <a class="buttons2">
                        <p class="announcement-heading">{{course.get_name()}}</p>
                        <p class="announcement-heading">{{announcement.get_timestamp()}}</p>
                        <p class="announcement-content">
                            {{announcement.get_description()}}
                        </p>
                    </a>
                    <hr class="line">
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>






            <div class="content4">
                <h5 class="home_column_long">News Today</h2>
                <div style="margin-top: 1px;" class="tech-slideshow">
                    <div class="mover-1"></div>
                    <div class="mover-2"></div>
                </div>
                <div class="wrapper">
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/undiagnosed-endometriosis-compromises-fertility-treatment" class="buttons2">
                            <span class="news-heading">
                                Undiagnosed endometriosis compromises fertility treatment
                            </span>
                            <span class="news-text">
                                Women with undiagnosed endometriosis will have difficulty falling pregnant without IVF, according to a University of Queensland study.
                                6 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news1.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/09/world-first-research-project-get-kids-running-better-health" class="buttons2">
                            <div class="news-heading">
                                World-first research project to get kids running to better health
                            </div>
                            <span class="news-text">
                                A landmark research project led by The University of Queensland is aiming to improve the cardiovascular health of young children with cerebral palsy (CP) by trialling a new running program.
                                6 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news2.png"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/cheaper-and-better-solar-energy-horizon" class="buttons2">
                            <div class="news-heading">
                                Cheaper and better solar energy on the horizon
                            </div>
                            <span class="news-text">
                                A new generation of cheap, sustainable and efficient solar cells is a step closer, thanks to scientists at The University of Queensland.
                                6 October 2021                      
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news3.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/new-app-motivate-aphasia-recovery" class="buttons2">
                            <div class="news-heading">
                                New app to motivate aphasia recovery
                            </div>
                            <span class="news-text">
                                A smartphone app to track and improve communication recovery for stroke survivors with aphasia is under development by University of Queensland researchers.
                                5 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news4.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/partnership-ignites-new-medical-rd-lab" class="buttons2">
                            <div class="news-heading">
                                Partnership ignites new medical R&D Lab
                            </div>
                            <span class="news-text">
                                A specialised medical research facility that will transform ground-breaking research into new medical equipment and technology is set to be established in Queensland, at the Herston Health Precinct.
                                5 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news5.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/uq-launches-celebration-of-aboriginal-and-torres-strait-islander-artists" class="buttons2">
                            <div class="news-heading">
                                UQ launches a celebration of Aboriginal and Torres Strait Islander artists
                            </div>
                            <span class="news-text">
                                The University of Queensland will welcome a strong line up of emerging Aboriginal and Torres Strait Islander stars next month for its inaugural Deadly Noize concert.
                                1 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news6.jpeg"/>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="theme-switch">
                <input type="checkbox"></input>
              </div>
            
            <!-- Add more columns here if needed -->

            
        </section>
        
    </main>
    
    
</body>
{% endblock %}
