{% extends "basic.html" %}
{% block my_header %}
<head>
    <title>Home - SmartEd</title>
    <link rel="stylesheet" href="../static/pages_css/home_staff.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="icon" href="../static/pages_img/logo.png">
</head>
{% endblock %}
{% block my_body %}
<body>
    <main class="main">
        <!-- HOME PAGE -->
        <section class="home" id=home>
            <div class="content1">
                <h5 class="home_column"> <a href="../course_staff_page/index.html" class="home_column-btn">My Courses </a></h2>
                <div class="course">
                    <div class="sem_header"></p>Semester 2, 2021</div>
                    <div class="courses">
                        <a href="specific_course_staff.html">
                            <p class="buttons">[DECO3801] Design Computing Studio 3- Build (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4500] Advanced Algorithms & Data Structures (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP3702] Artificial Intelligence (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4702] Machine Learning (St Lucia & external). Semester 2, 2021</p>
                        </a>
                    </div>
                    <div class="sem_header"></p>Semester 1, 2021</div>
                    <div class="courses">
                        <a href="specific_course_staff.html">
                            <p class="buttons">[DECO3801] Design Computing Studio 3- Build (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4500] Advanced Algorithms & Data Structures (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP3702] Artificial Intelligence (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4702] Machine Learning (St Lucia & external). Semester 2, 2021</p>
                        </a>
                    </div>
                    <div class="sem_header"></p>Semester 2, 2020</div>
                    <div class="courses">
                        <a href="specific_course_staff.html">
                            <p class="buttons">[DECO3801] Design Computing Studio 3- Build (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4500] Advanced Algorithms & Data Structures (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP3702] Artificial Intelligence (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4702] Machine Learning (St Lucia & external). Semester 2, 2021</p>
                        </a>
                    </div>
                    <div class="sem_header"></p>Semester 1, 2020</div>
                    <div class="courses">
                        <a href="specific_course_staff.html">
                            <p class="buttons">[DECO3801] Design Computing Studio 3- Build (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4500] Advanced Algorithms & Data Structures (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP3702] Artificial Intelligence (St Lucia & external). Semester 2, 2021</p>
                        </a>
                        <a href="specific_course_staff.html">
                            <p class="buttons">[COMP4702] Machine Learning (St Lucia & external). Semester 2, 2021</p>
                        </a>
                    </div>
                </div>
            </div>   
            <div class="content2">
                <div class="notice">
                    <h5 class="home_column"> <a href="notification_page/index.html" class="home_column-btn">Staff Notice</a></h5>
                    <a href="specific_course_staff.html#anchorpoint_assessments" class="buttons2">
                        <p class="notice-heading">DECO3801: Presentation Marks!</p>
                        <p class="notice-content">Presentation marks are set to release next week, make sure to
                            check with staffs on progress! 
                        </p>
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_assessments" class="buttons2">
                        <p class="notice-heading">COMP4500: Quiz 5 Review!</p>
                        <p class="notice-content">Some students expressed concerns about the quiz results, check out the latest feedbacks.</p>
                       
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_resources" class="buttons2">
                        <p class="notice-heading">COMP4500 Lecture 6 Upload.</p>
                        <p class="notice-content">Lecture 6 has not been uploaded onto the recordings, make sure to upload!</p>
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_resources" class="buttons2">
                        <p class="notice-heading">COMP4702 Assignment 2 Help Session.</p>
                        <p class="notice-content">There will be an assignment help session hosted by the tutors next Monday. Make sure to attend!</p>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_resources" class="buttons2">
                        <p class="notice-heading">COMP3702 Exam Help Session.</p>
                        <p class="notice-content">There will be an exam help session hosted by the tutors next Friday. Make sure to attend!</p>
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_resources" class="buttons2">
                        <p class="notice-heading">Personal Exam Timetable is out!.</p>
                        <p class="notice-content">Personal exam time table is out for students, make sure the information is correct!</p>
                    </a>
                    <hr class="line">
                    <p class="notice-heading">You have no more notice!</p>
                </div>
            </div>
            <div class="content3">
                <div class="announcements">
                    <h5 class="home_column"> <a href="announcement_staff.html" class="home_column-btn">Staff Announcements</h5>
                    <a href="specific_course_staff.html#anchorpoint_announcement" class="buttons2">
                        <p class="announcement-heading">DECO3801:</p>
                        <p class="announcement-content">Week 10 Studio
                            Posted on: Tuesday, 5 October 2021 8:48:50 AM AEST
                            Hi Teams,
                            This Thursday we have a guest lecture starting promptly at 5pm (Brisbane) 
                            *NOTE the unusual time*. The guest speaker is Prof Caroline Jay, Head of Research ...
                        </p>
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_announcement" class="buttons2">
                        <p class="announcement-heading">COMP4500:</p>
                        <p class="announcement-content">Week 10
                            Posted on: Monday, 4 October 2021 4:39:04 PM AEST
                            Hi everyone,
                            Welcome back after the break! 
                            The tutorial this week is on amortised analysis, that we covered before the break in week 9. In lectures we'll be starting to talk about complexity classes P and NP, and why there are interesting and relevant to programmers. 
                            We also have Quiz 5 due on Friday ...
                        </p>
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_announcement" class="buttons2">
                    <p class="announcement-heading">COMP3702:</p>
                        <p class="announcement-content">Tutorial 9 released
                            Posted on: Monday, 4 October 2021 9:40:26 PM AEST
                            Good evening COMP3702 staffs,
                            I have uploaded this week's tutorial (Tutorial 9) on Multi-Armed Bandits and Reinforcement Learning to Blackboard.
                            The last part of the tutorial ...
                        </p>
                    </a>
                    <hr class="line">
                    <a href="specific_course_staff.html#anchorpoint_announcement" class="buttons2">
                        <p class="announcement-heading">DECO3801:</p>
                        <p class="announcement-content">
                            SETutor survey
                            Posted on: Thursday, 30 September 2021 11:21:07 AM AEST
                            Dear staffs
                            UQ and ITEE takes pride in the quality of its teaching staff and encourages you to provide constructive feedback of the 
                            ...
                        </p>
                    </a>
                    <hr class="line">

                </div>
            </div>
            <div class="content4">
                <h5 class="home_column_long">News Today</h2>
                <div class="tech-slideshow">
                    <div class="mover-1"></div>
                    <div class="mover-2"></div>
                </div>
                <div class="wrapper">
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/undiagnosed-endometriosis-compromises-fertility-treatment" class="buttons2">
                            <span class="news-heading">
                                Undiagnosed endometriosis compromises fertility treatment
                            </span>
                            <span class="news-text">
                                Women with undiagnosed endometriosis will have difficulty falling pregnant without IVF, according to a University of Queensland study.
                                6 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news1.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/09/world-first-research-project-get-kids-running-better-health" class="buttons2">
                            <div class="news-heading">
                                World-first research project to get kids running to better health
                            </div>
                            <span class="news-text">
                                A landmark research project led by The University of Queensland is aiming to improve the cardiovascular health of young children with cerebral palsy (CP) by trialling a new running program.
                                6 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news2.png"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/cheaper-and-better-solar-energy-horizon" class="buttons2">
                            <div class="news-heading">
                                Cheaper and better solar energy on the horizon
                            </div>
                            <span class="news-text">
                                A new generation of cheap, sustainable and efficient solar cells is a step closer, thanks to scientists at The University of Queensland.
                                6 October 2021                      
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news3.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/new-app-motivate-aphasia-recovery" class="buttons2">
                            <div class="news-heading">
                                New app to motivate aphasia recovery
                            </div>
                            <span class="news-text">
                                A smartphone app to track and improve communication recovery for stroke survivors with aphasia is under development by University of Queensland researchers.
                                5 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news4.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/partnership-ignites-new-medical-rd-lab" class="buttons2">
                            <div class="news-heading">
                                Partnership ignites new medical R&D Lab
                            </div>
                            <span class="news-text">
                                A specialised medical research facility that will transform ground-breaking research into new medical equipment and technology is set to be established in Queensland, at the Herston Health Precinct.
                                5 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news5.jpeg"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.uq.edu.au/news/article/2021/10/uq-launches-celebration-of-aboriginal-and-torres-strait-islander-artists" class="buttons2">
                            <div class="news-heading">
                                UQ launches a celebration of Aboriginal and Torres Strait Islander artists
                            </div>
                            <span class="news-text">
                                The University of Queensland will welcome a strong line up of emerging Aboriginal and Torres Strait Islander stars next month for its inaugural Deadly Noize concert.
                                1 October 2021
                            </span>
                            <img class="recording_img" width="100%" height="100%" src="../static/pages_img/news_img/news6.jpeg"/>
                        </a>
                    </div>
                </div>
            </div>
            
            
            <!-- Add more columns here if needed -->

            
        </section>
        
    </main>
</body>
{% endblock %}