
<!-- Add to header -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/bootstrap/style.css">
<link rel="stylesheet" href="../static/login.css">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    function bad_login() {
       $(document).ready(function() {
          $(".wiggly").effect( "shake", {direction:"left",times:2}, 750);
      });
    }
 </script>


<section class="ftco-section">
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section"><img width="75%" height="85%" src="{{ url_for('static', filename='smarted_w_text.png') }}""/></h2>
    </div>
</div>
<div class="row justify-content-center l-form">
    <div class="col-md-7 col-lg-5">
    <div class="login-wrap p-4 p-md-5">
    <h4 class="text-center mb-3">
    <font face="Raleway">Sign In</font></h3>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group wiggly">
            <input name="username" type="text" class="form-control rounded-left" placeholder="Username" required>
        </div>
        <div class="form-group d-flex wiggly">
            <input name="password" type="password" class="form-control rounded-left" placeholder="Password" required>
        </div>
        {{ form.selection }}
        <div class="mb-3"></div>
        {% if not validate: %}
            <script>
                bad_login()
            </script>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="form-control btn-primary rounded submit px-3"><font face="Raleway">Login</font></button>
        </div>
    </form>
    <div class="form-group d-md-flex">
        <div class="w-50">
        <label class="checkbox-wrap checkbox-primary"><font face="Raleway">Remember Me</font>
            <input type="checkbox" checked>
            <span class="checkmark"></span>
        </label>
        </div>
        <div class="w-50 text-md-right">
            <a href="#"><font face="Raleway">Forgot Password</font></a>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>


