*, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    color: #412d4d;
    
}

h1, h2, p {
margin: 0;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
display: block;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 
/* ========== NAVIGATION BAR ========== */
.nav {
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
}
.nav_item {
    margin-left: 3rem;
    margin-bottom: 0;
    
}
.nav_link {
    color: #fff;
}
.nav_link:hover {
    position: relative;
    color: #84dd84;
}
.nav_logo {
    width: 30rem;
    margin-left: 3rem;
}
.nav_menu {
    position: relative;
    margin-top: 5rem;
    margin-right: 2rem;
}
.name_btn{
    position: absolute;
    width: 160px;
    top: 10px;
    right: 47px;
    padding: 0.35em 2.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.name_btn:hover {
    color: #000000;
    background-color: #FFFFFF;
} 
.dropdown-content {
    display: none;
    position: absolute;
    top:39px;
    right: 51.5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown-content a:hover {background-color: #c5c3c3}
.dropdown:hover .dropdown-content {
    display: block;
} 


/* ========== BODY ========== */
.home {
    margin-top: 8rem;
    height: 100vh;
    row-gap: 1rem;
    background-size: cover;
    display: grid;
}
.content {
    height: 75vh;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 0.8);
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 2px #888888;
    overflow-y: scroll;
}
.announcement_container{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 20px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    color: white;
    box-shadow: 3px 0px #888888;
}
.course-id{
    margin:20px 0px -10px 10px;
    font-size: large;
    text-align: left;
}   
.content p {
    margin: 20px 0px 0px 10px;
    font-size: small;
    text-align: left;
}
.course-id-title:hover{
    color: rgb(28, 168, 28);
}
.notice-heading{
    margin-top: -15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
.notice-content{
    margin-bottom: 30px;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: left;
}
.recording_img {
    margin: 0px 0px 50px 2px;
}
.comp4500quiz_img {
    margin: 0px 0px 50px 2px;
}