
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/bootstrap/style.css">
<link rel="stylesheet" href="../static/login.css">

<section class="ftco-section">
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section"><img width="75%" height="85%" src="{{ url_for('static', filename='smarted_w_text.png') }}""/></h2>
    </div>
</div>
<div class="row justify-content-center l-form">
    <div class="col-md-5 col-lg-7">
    <div class="login-wrap p-4 p-md-5">
        <h2 class="mb-2">Forbidden</h2>
        You do not have access to this page. If you believe this to be a mistake, contact your local administrator.</h6>
    </form>
</div>
</div>
</div>
</section>
