
<!doctype html>
<html lang="en">
   <head>
      <title>SmartEd - Signon</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../static/bootstrap/style.css">
      <link rel="stylesheet" href="../static/login.css">
      <script src="../static/qrcode.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

      <script>
         function show_QRC() {
            var QR_CODE = new QRCode("qrcode", {
              width: 220,
              height: 220
            });
            QR_CODE.makeCode("https://smart-ed.org/register_attendance?course={{specified_course}}"); // Pass course parameter here.
      }
      </script>
   </head>
   <body onload="javascript:show_QRC()">
      <section class="ftco-section">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-6 text-center mb-5">
                  <h2 class="heading-section"><img width="75%" height="75%" src="../static/smarted_w_text.png"/></h2>
               </div>
            </div>
            <div class="row justify-content-center l-form">
               <div class="col-md-7 col-lg-5">
                  <div class="login-wrap p-4 p-md-5">
                     <h4 class="text-center mb-3">
                     <font face="Raleway">Sign on for {{specified_course.replace("-","")}}</font></h4>
                     <div class="mb-2"></div>
                     <center><div id="qrcode"></div></center>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
