*, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    color: black;
    background-color: white;
    --link-color: white;
}

h1, h2, p {
margin: 0;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
display: block;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 
/* ========== NAVIGATION BAR ========== */
.nav {
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
}
.nav_item {
    margin-left: 3rem;
    margin-bottom: 0;
    
}
.nav_link {
    color: #fff;
}
.nav_link:hover {
    position: relative;
    color: #84dd84;
}
.nav_logo {
    width: 30rem;
    margin-left: 3rem;
}
.nav_menu {
    position: relative;
    margin-top: 5rem;
    margin-right: 2rem;
}
.name_btn{
    position: absolute;
    width: 160px;
    top: 10px;
    right: 47px;
    padding: 0.35em 2.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.name_btn:hover {
    color: #000000;
    background-color: #FFFFFF;
} 
.dropdown-content {
    display: none;
    position: absolute;
    top:39px;
    right: 51.5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown-content a:hover {background-color: #c5c3c3}
.dropdown:hover .dropdown-content {
    display: block;
} 
.anchor a {
    position: absolute;
    left: 0px;
    top: -48px;
}

/* ========== BODY ========== */
/* SIDEBAR */
.home {
    margin-top: 8rem;
    height: 100vh;
    row-gap: 1rem;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "content1 content2 content2 content2 content2 content2" 
    "content1 content2 content2 content2 content2 content2" ;
}
.content1 {
    position: fixed;
    left:0px;
    width: 200px;
    height: 100vh;
    background: rgb(29, 29, 29);
    font-size: 30px;
    text-align: center;
    grid-area: content1;
    overflow-y: scroll;
    text-align: left;
    z-index: 1;
}
.course-id{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 15px;
    color: white;
    text-align: left;
    margin: 0px 20px 0px 20px;
    
}
.settings-btn{
    font-size: 15px;
    margin: 20px;
    color: white;
}
.settings-btn2{
    font-size: 15px;
    margin: 20px;
    color: white;
}
.settings-btn:hover{
    color: #60a860;
}
.settings-btn2:hover{
    color: #60a860;
}
.line {
    margin:20px 20px 10px 10px;
    border: 1px solid rgba(196, 196, 196, 0.8);
}

/* ====== CONTENT AREA ====== */
/* handle anchors */
.anchor {
    display:block;
    padding-top:150px;
    margin-top:-100px;
 }

.content2{
    grid-area: content2;
}
.content2 h5 {
    margin:50px 0px 20px 60px;
    font-size: large;
}
.content2 span {
    font-size: medium;
}
.content2 p {
    margin: 20px 100px 0px 50px;
    font-size: small;
}
.content_container {
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    height: 520px;
    margin: 20px 50px 20px 50px;
    overflow-y: scroll;
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 3px 2px #888888;
    color: white;
}
.content_container #ecp_container{
    margin: 20px 50px 20px 50px;
    height: 300px;
    row-gap: 1rem;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    "col1 col2 col3 col4 col5 col6 col7" 
    "a1 a2 a3 a4 a5 a6 a7"
    "b1 b2 b3 b4 b5 b6 b7" ;
}
.col1{
    padding:10px;
    grid-area: col1;
}
.col2{
    padding:10px;
    grid-area: col2;
}
.col3{
    padding:10px;
    grid-area: col3;
}
.col4{
    padding:10px;
    grid-area: col4;
}
.col5{
    padding:10px;
    grid-area: col5;
}
.col6{
    padding:10px;
    grid-area: col6;
}
.col7{
    padding:10px;
    grid-area: col7;
}
.a1{
    padding:10px;
    grid-area: a1;
}
.a2{
    padding:10px;
    grid-area: a2;
}
.a3{
    padding:10px;
    grid-area: a3;
}
.a4{
    padding:10px;
    grid-area: a4;
}
.a5{
    padding:10px;
    grid-area: a5;
}
.a6{
    padding:10px;
    grid-area: a6;
}
.a7{
    padding:10px;
    grid-area: a7;
}
.button {
    background-color: #5f0a87;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.b1{
    padding:10px;
    grid-area: b1;
}
.b2{
    padding:10px;
    grid-area: b2;
}
.b3{
    padding:10px;
    grid-area: b3;
}
.b4{
    padding:10px;
    grid-area: b4;
}
.b5{
    padding:10px;
    grid-area: b5;
}
.b6{
    padding:10px;
    grid-area: b6;
}
.b7{
    padding:10px;
    grid-area: b7;
}
.button {
    background-color: #5f0a87;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
/* LEARNING RESOURCES */
.resources {
    overflow-y: scroll;
}
.content_entry {
    padding:10px;
    color: white;
}   
.content_entry:hover {
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 0px 1.5px #888888;
    background-color: #a4508b ;
}
.content_entry a{
    margin:20px;
    font-size: 20px;
}
.resources_line {
    margin:0;
    border: 1px solid rgba(196, 196, 196, 0.8);
}

/* MY GRADES */
.grades .content_entry {
    display: flex;
    justify-content: space-between;
}
.activity_entry {
    margin-right: 100px;
    float: left;
}
.grade_entry{
    float: left;
    right: 20px;
}
.grades .content_container{
    overflow-x: scroll;
}
.info_entries {
    margin-right:30px;
}

.grades .tabs {
    display :flex;
    justify-content: space-between;
}
.tabs{
    padding: 20px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    color: white;
}
.tab_last_activity {
    position: relative;
    right:80px;
    float: left;
}
.tab_grade {
    position: relative;
    float: left;
    right: 20px;
}


/* COURSE STAFF */
.staff{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 50px;
    padding:0px 150px 0px 0px;
}
.staff:hover {
    background-color: #a4508b ;
}
.staff p{
    margin: 0px 0px 5px 0px;
}
.profile_pic{
    width: 150px;
}

/* LIBRARY */
.library_left {
    padding-top: 20px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    overflow-y: scroll;
    grid-area: left;
}
.elements{
    position: relative;
    top:-50px;
    margin:0px 0px 20px 0px;
    text-align: left;

}
.library_links_title{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: white;
}
.library_links_title:hover{
    color: rgb(13, 172, 13);   
}
.library_links_content{
    font-size: 15px;
    text-align: left;
    color: white;
}
.line {
    margin:10px 30px 30px 30px;
    border: 1px solid rgba(196, 196, 196, 0.8);
}
.library_button {
    background-color: #5f0a87;
    border: none;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


.stats{
    margin: 10px 10px 10px 40px;
    height: 750px;
    grid-area: content2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "grade rank satisfaction report report" 
    "you you you insights insights" 
    "you you you insights insights";
}

/* GRADE */
.grade {
    width: 180px;
    height: 280px;
    margin: 15px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 3px 2px #888888;
    grid-area: grade;
}
.current_grade h5 {
    margin: -20px 0px 0px 65px;
    font-family: 'Roboto',sans-serif;
    font-size: 90px;
    color: white;
}
.current_grade p {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    margin: 20px 20px 0px 60px;
    color: rgb(14, 224, 14);
}
.current_grade p2 {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    margin: 10px 0px 20px 30px;
    color: rgb(14, 224, 14);
}
.overview_title_font {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: white;
    margin: 15px 0px 15px 25px;
}
/* SATISFACTION */
.satisfaction {
    width: 180px;
    height: 280px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: satisfaction;
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 3px 2px #888888;
}
.overview_title_font2 {
    font-family: 'Roboto',sans-serif;
    font-size: 150px;
    color: white;
    margin: 15px 0px 15px 20px;
}
.current_satisfaction h5 {
    margin: -20px 0px 0px 50px;
    font-family: 'Roboto',sans-serif;
    font-size: 75px;
    color: white;
}
.current_satisfaction p {
    margin: 10px 0px 10px 75px;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    color:white;
}
/* RANK */
.rank {
    width: 180px;
    height: 280px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 3px 2px #888888;
}
.overview_title_font3 {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: white;
    margin: 13px 0px 15px 60px;
}
.current_rank h5 {
    margin: 20px 0px 0px 50px;
    font-family: 'Roboto',sans-serif;
    font-size: 75px;
    color: white;
}
.current_rank p {
    margin: 40px 0px 0px 60px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: rgb(14, 224, 14);
}
.current_rank p2 {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    margin: 10px 0px 20px 30px;
    color: rgb(14, 224, 14);
}

/* KEY INSIGHT REPORT */
.report {
    width: 350px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: report;
}
.report h4{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: white;
    margin:10px;
}
.key_report {
    margin: 10px;
    height: 220px;
    overflow-y: scroll;
}

/* FOR YOU */
.you {
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: you;
}
.you h4{
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    margin:10px;
    color: white;
}
.for_you {
    margin: 10px;
    height: 330px;
    overflow-y: scroll;
}
.content_entry_stats {
    padding: 20px;
    color: white;
}   
.content_entry_stats:hover {
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 0px 1.5px #888888;
    background-color: #a4508b ;
}
.content_entry_stats a{
    margin:20px;
    font-size: 20px;
    color: white;
}

/* ACTIONABLE INSIGHTS */
.insights {
    width: 350px;
    height: 420px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: insights;
}
.report_entry {
    padding: 20px;
}   
.report_entry:hover {
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 0px 1.5px #888888;
    background-color: #a4508b ;
}
.report_entry a{
    margin:20px;
    font-size: 20px;
}
.insights h4{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    margin:10px;
    color: white;
}
.actionable_insights {
    margin: 10px;
    height: 350px;
    overflow-y: scroll;
}

/* SETTINGS */
.change-text h5 {
    margin: 10px 0px 0px 50px;
}

/* The container */
.container {
    margin-top: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkboxes {
    margin: 20px 0px 0px 50px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #a4508b ;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.theme-switch {
    margin: 0px 0px 0px 50px;
}

.button {
    background-color: #913089; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
.button:hover {
    background-color: rgb(168, 109, 173);
}
.save_btn_text {
    color: green;
}
.privacy {
    padding-bottom: 50px;
}



/* RESPONSIVE DISPLAY */
