*, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    color: #412d4d;
    
}

h1, h2, p {
margin: 0;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
display: block;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 
/* ========== NAVIGATION BAR ========== */
.nav {
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
}
.nav_item {
    margin-left: 3rem;
    margin-bottom: 0;
    
}
.nav_link {
    color: #fff;
}
.nav_link:hover {
    position: relative;
    color: #84dd84;
}
.nav_logo {
    width: 30rem;
    margin-left: 3rem;
}
.nav_menu {
    position: relative;
    margin-top: 5rem;
    margin-right: 2rem;
}
.name_btn{
    position: absolute;
    width: 160px;
    top: 10px;
    right: 47px;
    padding: 0.35em 2.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.name_btn:hover {
    color: #000000;
    background-color: #FFFFFF;
} 
.dropdown-content {
    display: none;
    position: absolute;
    top:39px;
    right: 51.5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown-content a:hover {background-color: #c5c3c3}
.dropdown:hover .dropdown-content {
    display: block;
} 
.anchor a {
    position: absolute;
    left: 0px;
    top: -48px;
}

/* ========== BODY ========== */
/* SIDEBAR */
.home {
    margin-top: 8rem;
    height: 100vh;
    row-gap: 1rem;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "content1 content2 content2 content2 content2 content2" 
    "content1 content2 content2 content2 content2 content2" ;
}
.content1 {
    position: fixed;
    left:0px;
    width: 200px;
    height: 100vh;
    background: rgb(54, 54, 54);
    font-size: 30px;
    text-align: center;
    grid-area: content1;
    overflow-y: scroll;
    text-align: left;
    z-index: 1;
}
.course-id{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 15px;
    color: white;
    text-align: left;
    margin: 0px 20px 0px 20px;
    
}
.settings-btn{
    color: white;
    font-size: 15px;
    margin: 20px;
}
.settings-btn:hover{
    color: #60a860;
}
.line {
    margin:20px 20px 10px 10px;
    border: 1px solid rgba(196, 196, 196, 0.8);
}

/* ====== CONTENT AREA ====== */
/* handle anchors */
.anchor {
    display:block;
    padding-top:150px;
    margin-top:-100px;
 }

.content2{
    grid-area: content2;
}
.content2 h5 {
    margin:50px 0px 20px 60px;
    font-size: large;
}
.content2 span {
    font-size: medium;
}
.content2 p {
    margin: 20px 100px 0px 50px;
    font-size: small;
}
.content_container {
    height: 500px;
    margin: 20px 50px 20px 50px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 3px 2px #888888;
}
.content_container #ecp_container{
    margin: 20px 50px 20px 50px;
    height: 300px;
    row-gap: 1rem;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    "col1 col2 col3 col4 col5 col6 col7" 
    "a1 a2 a3 a4 a5 a6 a7"
    "b1 b2 b3 b4 b5 b6 b7" ;
}
.col1{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col1;
}
.col2{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col2;
}
.col3{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col3;
}
.col4{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col4;
}
.col5{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col5;
}
.col6{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col6;
}
.col7{
    padding:10px;
    background-color: rgb(235, 230, 230);
    grid-area: col7;
}
.a1{
    padding:10px;
    grid-area: a1;
}
.a2{
    padding:10px;
    grid-area: a2;
}
.a3{
    padding:10px;
    grid-area: a3;
}
.a4{
    padding:10px;
    grid-area: a4;
}
.a5{
    padding:10px;
    grid-area: a5;
}
.a6{
    padding:10px;
    grid-area: a6;
}
.a7{
    padding:10px;
    grid-area: a7;
}
.button {
    background-color: #5f0a87;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.b1{
    padding:10px;
    grid-area: b1;
}
.b2{
    padding:10px;
    grid-area: b2;
}
.b3{
    padding:10px;
    grid-area: b3;
}
.b4{
    padding:10px;
    grid-area: b4;
}
.b5{
    padding:10px;
    grid-area: b5;
}
.b6{
    padding:10px;
    grid-area: b6;
}
.b7{
    padding:10px;
    grid-area: b7;
}
.button {
    background-color: #5f0a87;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
/* LEARNING RESOURCES */
.resources {
    overflow-y: scroll;
}
.content_entry {
    padding:10px;
    background-color: rgb(252, 249, 249);
}   
.content_entry:hover {
    background-color: rgb(190, 190, 190);
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 0px 1.5px #888888;
}
.content_entry a{
    margin:20px;
    color: black;
    font-size: 20px;
}
.resources_line {
    margin:0;
    border: 1px solid rgba(196, 196, 196, 0.8);
}

/* MY GRADES */
.grades .content_entry {
    display: flex;
    justify-content: space-between;
}
.activity_entry {
    margin-right: 100px;
    float: left;
}
.grade_entry{
    float: left;
    right: 20px;
}
.grades .content_container{
    overflow-x: scroll;
}
.info_entries {
    margin-right:30px;
}

.grades .tabs {
    display :flex;
    justify-content: space-between;
}
.tabs{
    margin: 10px 20px 10px 20px;
}
.tab_last_activity {
    position: relative;
    right:80px;
    float: left;
}
.tab_grade {
    position: relative;
    float: left;
    right: 20px;
}


/* COURSE STAFF */
.staff{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 50px;
    padding:0px 150px 0px 0px;
}
.staff p{
    margin: 0px 0px 5px 0px;
}
.profile_pic{
    width: 150px;
}

/* LIBRARY */
.library .content_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "left right1"
    "left right2";
}

.library_left {
    height: 30rem;
    width: 25rem;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 0.8);
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 2px #888888;
    overflow-y: scroll;
    grid-area: left;
}
.library_top_right {
    height: 10rem;
    width: 25rem;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 0.8);
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 2px #888888;
    overflow-y: scroll;
    grid-area: right1;
}
.library_top_right p{
    position: relative;
    top: -50px;
    left: 20px;
}
.library_bot_right {
    height: 15rem;
    width: 25rem;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 0.8);
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 2px #888888;
    overflow-y: scroll;
    grid-area: right2;
}
.library_bot_right p{
    position: relative;
    top: -40px;
    left: 20px;
}
.library_column1{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    position: relative;
    top: -50px;
    left:-60px;
    width: 25rem;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 20px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    color: white;
    box-shadow: 3px 0px #888888;
    overflow-y: scroll;
}
.elements{
    position: relative;
    top:-50px;
    margin:0px 0px 20px 0px;
    text-align: left;

}
.library_links_title{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.library_links_title:hover{
    color: rgb(13, 172, 13);   
}
.library_links_content{
    font-size: 15px;
    text-align: left;
}
.line {
    margin:10px 30px 30px 30px;
    border: 1px solid rgba(196, 196, 196, 0.8);
}
.library_button {
    background-color: #5f0a87;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}




.all_stat {
    margin: 10px 10px 10px 40px;
    height: 750px;
    grid-area: content2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "stats stats stats report report" 
    "you you you insights insights" 
    "you you you insights insights";
}

.content_container_statistics {
    height: 250px;
    margin: 20px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 3px 2px #888888;
}

.stats {
    grid-area: stats;
    margin: 15px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
.stats h5{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    margin: 5px 0px 0px 10px;
    color: white;
}

.statistics {
    margin: 10px;
    height: 200px;
    background-color: white;
    overflow-y: scroll;
}

/* STATISTICS */
.resources {
    overflow-y: scroll;
}
.content_entry {
    padding:10px;
    background-color: rgb(252, 249, 249);
}   
.content_entry:hover {
    background-color: #5f0a872d;
    border: 1px solid rgba(196, 196, 196, 0.8);
    box-shadow: 0px 1.5px #888888;
}
.content_entry a{
    margin:20px;
    color: black;
    font-size: 20px;
}
.resources_line {
    margin:0;
    border: 1px solid rgba(196, 196, 196, 0.8);
}
#exclamation {
    color: red;
    margin-right: 10px;
}

.overview_title_font {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: white;
    margin: 15px 0px 15px 25px;
}
.overview_title_font2 {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    color: white;
    margin: 15px 0px 15px 20px;
}
/* KEY INSIGHT REPORT */
.report {
    width: 350px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: report;
}
.report h4{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: white;
    margin:10px;
}
.key_report {
    margin: 10px;
    height: 220px;
    background-color: white;
    overflow-y: scroll;
}


/* FOR YOU */
.you {
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: you;
}
.you h4{
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    color: white;
    margin:10px;
}
.for_you {
    margin: 10px;
    height: 300px;
    background-color: white;
    overflow-y: scroll;
}
/* ACTIONABLE INSIGHTS */
.insights {
    width: 350px;
    background: linear-gradient(-45deg, #861657, #5f0a87, #a4508b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    margin:15px;
    grid-area: insights;
}
.insights h4{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: white;
    margin:10px;
}
.actionable_insights {
    margin: 10px;
    height: 320px;
    background-color: white;
    overflow-y: scroll;
}