
<head>
    <title>SmartEd - Staff</title>
    <link rel="stylesheet" href="../../../static/pages_css/announcement_staff.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="icon" href="../../../static/pages_img/logo.png">
</head>
<body>
    


    <main class="main">
        <!-- HOME PAGE -->
        <section class="home" id=home>
            <div class="left">
                LEFT
            </div>
            <div class="right">
                RIGHT
            </div>


            <!-- Add more columns here if needed --> 

            
        </section>
        
    </main>
    

    
</body>
</html>