body {
	background: linear-gradient(-45deg, #ffa69e, #861657, #5f0a87, #a4508b);
	background-size: 450% 450%;
	animation: gradient 32s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

.btn-primary, .btn-primary:visited, .btn-primary:active  {
    background-color: #2b87ff !important;
    transition: color 1.5s;
}

.btn-primary:hover {
	background-color: #5f0a87;
	transition: color 1.5s;
}

